COMPOSE_BAKE=false
DOCKER_BUILDKIT=0

POKEBOT_PROFILE=Sapphire
POKEBOT_MODE=Campaign
POKEBOT_CAMPAIGN_TRAINER_NAME=Alesjr
POKEBOT_EMULATION_SPEED=0
POKEBOT_DASHBOARD_PORT=8888
POKEBOT_DEBUGGER=
POKEBOT_DEBUG_PORT=5678
POKEBOT_PYCHARM_DEBUGGER_EGG=/opt/pycharm/debug-eggs/pydevd-pycharm.egg
POKEBOT_VSCODE_DEBUG_PORT=5679
